# ~/dotfiles/.gitignore - user global ignores

# text editors and tools
.idea
.vscode
.sdd
*.sublime-project
*.sublime-workspace
*.rdbg
.claude/settings.local.json

# Agent Steering Files
.claude
CLAUDE.md
