# ~/dotfiles/.gitignore - user global ignores

# text editors and tools
.idea
.vscode
.sdd
*.sublime-project
*.sublime-workspace
*.rdbg

# Agent Steering Files
.claude
CLAUDE.md
*.iml
**/.claude/settings.local.json

# Emacs
# lock files
.#*
# backup files
*~
# auto-save files
\#*\#
